<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="Main.css">
</head>
<body>
	<div id="container">
		<div id="header"><h1>Memotter</h1></div>
		<div id="side">
			<form class="texts" th:action="@{/createNote}" th:method="post" th:object="${noteRequest}">
				<label>Title</label><br>
				<input type="text" th:field="*{title}"><br>
				<label>Memo</label><br>
				<textarea name="name" class="m-form-textarea" th:field="*{contents}"></textarea>
				<button class="btn">Add</button>
			</form>
			<form class="texts" th:action="@{/updateNote}" th:method="post" th:object="${noteRequest}">
				<label>Title</label><br>
				<input type="text" th:field="*{title}"><br>
				<label>Memo</label><br>
				<textarea name="name" class="m-form-textarea" th:field="*{contents}"></textarea>
				<button class="btn">Edit</button>
			</form>
			<form class="texts" th:action="@{/deleteNote}" th:object="${noteRequest}" th:method="post">
				<label>Title</label><br>
				<input type="text" th:field="*{title}" /><br>
				<button class="btn">Delete</button>
			</form>
			<br>
			<form class="Logout" th:action="@{/}" th:method="get">
			<input type="submit" value="Log out">
			</form>
		</div>
		<div id="main">
			<table>
				<thead>
					<tr class="tr">
						<th width="100px">Title</th>
						<th>Content</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="note : ${noteList}">
						<td th:text="*{note.title}"></td>
						<td th:text="*{note.contents}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="footer">
			<h5>Visit my github account: <a target="_blank" href="https://github.com/YunosukeSato">GitHub</a></h5>
		</div>
	</div>
</body>
</html>