<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Sign up error happened</h1>
	<p>Your username or password was empty, or the username was already used. Try different username.</p>
	<form th:action="@{/SignUp}" th:object="${signUpRequest}" th:method="post">
		<label>username</label>
		<input type="text" th:field="*{username}"><br>
		<label>password</label>
		<input type="password" th:field=*{password}><br>
		<input type="submit" value="SignUp">
	</form>
	<form th:action="@{/}" th:method="get">
		<input type="submit" value="Back">
	</form>
</body>
</html>